:root {
    --dark-green: #284627;
    --dark-green-transp: #28462783;
    --light-beige: rgb(255, 243, 226);

    --dock-height: 75px;   /* высота дока (55px) + воздух вокруг */
    --btn-font-size: 1rem; /* единый размер текста кнопок */
}

@font-face {
    font-family: "Raleway";
    src: url("../fonts/Raleway/Raleway-VariableFont_wght.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Raleway-Italic";
    src: url("../fonts/Raleway/Raleway-Italic-VariableFont_wght.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Raleway";
    line-height: 1.4;
    font-size: 18px;
}

p {
    font-size: 1rem;
    font-weight: 500;
}

a {
    font-size: 1rem;
    font-weight: 600;
    color: var(--dark-green);
    
    text-decoration-line: underline;
    text-decoration-style: dashed;
    text-decoration-thickness: 1px;
    text-underline-offset: 2px;
}

h1 {
    font-family: "Raleway-Italic";
    color: var(--dark-green);
    font-size: 1.8rem;
    font-weight: 700;
}

h2 {
    font-size: 1.5rem;
    font-weight: 600;
}

h3 {
    font-size: 1.2rem;
    font-weight: 600;
}


main {
    padding: 10px;
    padding-bottom: calc(var(--dock-height) + 20px);
}

#main-menu {
    z-index: 100;
    width: 100%;
    position: fixed;
    bottom: 20px;
}

#dock {
    margin: auto;
    padding: 0 10px 0 10px;
    height: 55px;
    width: max-content;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-color: var(--light-beige);
    border: 1px solid var(--dark-green);
    border-radius: 20px;
}

.dock-button {
    height: 55px;
    width: 55px;
    transition: all ease 0.2s;
}

.dock-button:hover {
    height: 70px;
    width: 70px;
}

.dock-button p {
    margin-top: -5px;
    font-size: 10px;
    text-align: center;
    color: white;
    filter: drop-shadow(0 0 3px var(--dark-green)) drop-shadow(0 0 5px var(--dark-green));
}

#dock a {
    text-decoration: none;
}



.dock-button img {
    width: 100%;
}

