.tutorial {
    max-width: 600px;
    margin: auto;
}

.tutorial-info {

    padding: 15px;
    background-color: var(--light-beige);
    border-radius: 10px;
    border: 2px solid var(--dark-green);

}

.tutorial-info ol {
    
    padding-left: 35px;

}