<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Cozy Habbits{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/habits.css') }}">

</head>
<body>

    <header id="auth-bar">
        {% if current_user.is_authenticated %}
            <span>Привет, {{ current_user.username }}{% if current_user.is_admin %} (admin){% endif %}!</span>
            <a href="{{ url_for('auth.logout') }}">Выйти</a>
        {% else %}
            <a href="{{ url_for('auth.login') }}">Войти</a>
            <a href="{{ url_for('auth.register') }}">Регистрация</a>
        {% endif %}
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>

    <script src="{{ url_for('static', filename='js/main.js') }}"></script>


<!-- док снизу -->
<div id="main-menu">
    <div id="dock">

        <a href="{{ url_for('main.habits') }}">
            <div class="dock-button">
                <img src="{{ url_for('static', filename='images/dock/habits_icon.png') }}" alt="">
                <p>Привычки</p>
            </div>
        </a>

        <div class="dock-button">
            <img src="{{ url_for('static', filename='images/dock/week_icon.png') }}" alt="">
            <p>Неделя</p>
        </div>
        <div class="dock-button">
            <img src="{{ url_for('static', filename='images/dock/achievements_icon.png') }}" alt="">
            <p>Награды</p>
        </div>
        <div class="dock-button">
            <img src="{{ url_for('static', filename='images/dock/statistics_icon.png') }}" alt="">
            <p>Статистика</p>
        </div>
        <div class="dock-button">
            <img src="{{ url_for('static', filename='images/dock/user_icon.png') }}" alt="">
            <p>Профиль</p>
        </div>

    </div>
</div>

</body>


</html>