{% extends "base.html" %}

{% block title %}Туториал{% endblock %}

{% block content %}
<section class="tutorial">
    <div class="tutorial-info">
        <h1>Как добавить приложение на главный экран и настроить уведомления?</h1>
<br>
<h2>IOS</h2>
<ol>
    <li>Использовать браузер Safari</li>
    <li>Войти в свой аккаунт в CozyHabits</li>
    <li>Нажать в браузере кнопку «Поделиться»</li>
    <li>Немного пролистать вниз</li>
    <li>Нажать кнопку «Добавить на экран "Домой"»</li>
    <li>Нажать «Добавить»</li>
    <li>Открыть добавленное на рабочий стол приложение</li>
    <li>Перейти в CozyHabits в профиль</li>
    <li>Нажать «Включить уведомления»</li>
    <li>Разрешить отправку уведомлений, когда появится системное окно</li>
    <li>Можно протестировать, что все работает, с помощью кнопки «Тест»</li>
</ol>
<br>
<h2>Android</h2>
<ol>
    <li>Использовать браузер Chrome</li>
    <li>Войти в свой аккаунт в CozyHabits</li>
    <li>Нажать на три точки в правом верхнем углу браузера</li>
    <li>Выбрать «Добавить на главный экран» или «Установить приложение»</li>
    <li>Подтвердить добавление, нажав «Добавить» или «Установить»</li>
    <li>Открыть добавленное приложение с главного экрана</li>
    <li>Перейти в CozyHabits в профиль</li>
    <li>Нажать «Включить уведомления»</li>
    <li>Разрешить отправку уведомлений, когда появится системное окно</li>
    <li>Можно протестировать, что все работает, с помощью кнопки «Тест»</li>
</ol>
<br>
<h2>Компьютер</h2>
<ol>
    <li>Использовать браузер Chrome</li>
    <li>Войти в свой аккаунт в CozyHabits</li>
    <li>Нажать на иконку установки (обычно справа в адресной строке) или через меню: три точки → Дополнительные инструменты → Создать ярлык</li>
    <li>Отметить галочкой «Открывать как окно» (если есть такая опция)</li>
    <li>Нажать «Установить» или «Создать»</li>
    <li>Открыть установленное приложение или ярлык на рабочем столе</li>
    <li>Перейти в CozyHabits в профиль</li>
    <li>Нажать «Включить уведомления»</li>
    <li>Разрешить отправку уведомлений, когда появится системное окно</li>
    <li>Можно протестировать, что все работает, с помощью кнопки «Тест»</li>
</ol>
<br>

        <a href="{{ url_for('main.profile') }}">Назад</a>

    </div>

</section>


{% endblock %}